@{
    ViewData["Title"] = "Home Page";
}
<h2>Ejemplo 1: Alineando la fila</h2>

<div class="row align-items-center">
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 2
    </div> 
    <div class="col">
        columna 3
    </div>
</div>
<div class="row align-items-end">
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 2
    </div>
    <div class="col">
        columna 3
    </div>
</div>
<div class="row align-items-start">
    <div class="col">
        columna 1
    </div>
    <div class="col">
        columna 2
    </div>
    <div class="col">
        columna 3
    </div>
</div>

<h4>Ejemplo 2: alineando las columnas horizontalmente</h4>
<div class="row">
    <div class="col align-self-start">
        columna 1
    </div>
    <div class="col align-self-center">
        columna 2
    </div>
    <div class="col align-self-end">
        columna 3
    </div>
</div>
<h4>Ejemplo 3: Offset</h4>
<div class="row">
    <div class="col-4">
        columna 1
    </div>
    <div class="col-4 offset-4">
        columna 2
    </div>
   
</div>
<h4>Ejemplo 4: AutoMargen</h4>
<div class="row">
    <div class="col-3">
        columna 1
    </div>
    <div class="col-4 ms-auto">
        columna 2
    </div>

</div>
<h4>Ejemplo 5: Gutter horizontal</h4>
<div class="row gx-sm-0  gx-md-3 gx-lg-5">
    <div class="col">
        <div class="bg-light border">
            columna 1
        </div>
    </div>
    <div class="col">
        <div class="bg-light border">
            columna 2
        </div>
    </div>

</div>

<h4>Ejemplo 5: Gutter vertical</h4>
<div class="row gx-sm-0  gx-md-3 gx-lg-5 gy-4">
    <div class="col-6">
        <div class="bg-light border">
            columna 1
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            columna 2
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            columna 3
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            columna 4
        </div>
    </div>

</div>
<h4>Ejemplo 6: Gutter vertical y horizontal</h4>
<div class="row g-2">
    <div class="col-6">
        <div class="bg-light border">
            columna 1
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            columna 2
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            columna 3
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            columna 4
        </div>
    </div>

</div>


<h4 class="bg-success">Ejemplo 7: Controlando dimensiones de las imagenes en columnas</h4>

<div class="row gy-5">
    <div class="col-sm-3">
        <img src="https://www.cervantesvirtual.com/images/portales/constituciones_hispanoamericanas/graf/mapas/06-mexico_mapa_de_los_estados_s.jpg" class="img-fluid" />
    </div>
    <div class="col-sm-3">
        <img src="https://www.cervantesvirtual.com/images/portales/constituciones_hispanoamericanas/graf/mapas/06-mexico_mapa_de_los_estados_s.jpg" class="img-fluid" />
    </div>
    <div class="col-sm-3">
        <img src="https://www.cervantesvirtual.com/images/portales/constituciones_hispanoamericanas/graf/mapas/06-mexico_mapa_de_los_estados_s.jpg" class="img-fluid" />
    </div>
    <div class="col-sm-3">
        <img src="https://www.cervantesvirtual.com/images/portales/constituciones_hispanoamericanas/graf/mapas/06-mexico_mapa_de_los_estados_s.jpg" class="img-fluid" />
    </div>
</div>

<h4>Ejemplo 8: Controlando dimensiones de las imagenes tipo thumbnail</h4>
<img src="https://images-na.ssl-images-amazon.com/images/S/amzn-author-media-prod/bsf846hh2eo2dse1t05c5rmq2e.jpg" class="img-thumbnail rounded-circle" />

<div>
    <button class="btn btn-primary">BOTON PRIMARIO</button>
</div>

<table class="table table-striped table-hover table-bordered table-sm">
    <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
        </thead>
    <tbody>
            <tr>
                <td>1</td>
                <td>Jorge</td>
                <td>Cerda</td>
            </tr>
            <tr class="table-success">
                <td>2</td>
                <td>Jorge</td>
                <td>Cerda</td>
            </tr>
        <tr>
            <td>3</td>
            <td colspan="2">Jorge Cerda</td>
        </tr>
         </tbody>
</table>

<div>
Sin Ratio:
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/h18VdZvTOzQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<div>
    Con Ratio 16/9:
</div>
<div class="ratio ratio-16x9">
    <iframe width="560" height="315"  src="https://www.youtube.com/embed/h18VdZvTOzQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<hr />

<div class="row gy-4">
    <div class="col-md-4">
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/h18VdZvTOzQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/h18VdZvTOzQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ratio ratio-16x9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/h18VdZvTOzQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>

<h4>Ejemplo 9: ANCHURA</h4>


            <div class="w-25 p-3 bg-primary">Ancho 25%</div>
<div class="w-50 p-3 bg-secondary">Ancho 50%</div>
<div class="w-75 p-3 bg-primary">Ancho 75%</div>
<div class="w-100 p-3 bg-secondary">Ancho 100%</div>
<div class="w-auto p-3 bg-primary">Ancho auto</div>
<h4>Ejemplo 10: ALTURA</h4>
<div style="height: 100px;" class="bg-info">
<div class="h-25 d-inline-block bg-primary" style="width: 120px;">ALTO 25%</div>
    <div class="h-50 d-inline-block bg-secondary" style="width: 120px;">ALTO 50%</div>
<div class="h-75 d-inline-block bg-primary" style="width: 120px;">ALTO 75%</div>
    <div class="h-100 d-inline-block bg-secondary" style="width: 120px;">ALTO 100%</div>
    <div class="h-auto d-inline-block bg-primary" style="width: 120px;">ALTO auto%</div>

</div>

<h4>Ejemplo 11: TODA LA PANTALLA</h4>
<div class="vw-100 bg-success">ANCHO 100VW</div>
<div class="vh-100 bg-secondary">ALTO 100VH</div>

<h4>Ejemplo 12: MARGENES</h4>
<div class="my-3">
    FIla 1
</div>
<div class="mt-4 mb-4">
    FIla 2
</div>
<div>
    FIla 3
</div>
<button class="btn btn-outline-primary me-5 p-5">BOTON</button>
<button class="btn btn-outline-secondary">BOTON</button>

